html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "sans-serif";
}

textarea:invalid {
  background: #faa;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
  background: #303f9f;
  padding: 20px 0px 20px 30px;
}

h2.withTabs {
  padding-bottom: 5px;
}

h3 {
  font-size: 1em;
  padding: 10px 0px;
}

label {
  display: inline-block;
  padding: 5px 0px;
}

label > * {
  vertical-align: middle;
}

label > *:not(:last-child) {
  margin-left: 0;
  margin-right: 8px;
}

main {
  display: flex;
  height: 100%;
}

@media (max-aspect-ratio: 1/1) {
  main {
    flex-direction: column;
  }
}

#plot {
  overflow: hidden;
  outline: none;
  flex: 1 0 0;
}

#controls {
  flex: 0 0 310px;
  overflow: auto;
  color: #fafafa;
  background: #303030;
}

.content {
  padding: 0 5px 0 10px;
}

.tabs .tabList {
  padding: 0;
  margin: 0;
  background: #303f9f;
  display: flex;
  list-style: none;
}

.tabs .tab {
  flex: 1 0 auto;
  text-align: center;
  color: #9e9e9e;
  padding: 10px 15px;
}

.tabs .tab:hover {
  background: #3f51b5;
  cursor: pointer;
}

.tabs .tab.active {
  color: #fafafa;
  border-bottom: 2px solid #ffa726;
}

.equationInput {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.equationInput var {
  flex: 0 0 auto;
}

.equationInput textarea {
  flex: 1 0 150px;
  resize: vertical;
  height: 2.5em;
  font-family: monospace;
  font-size: 0.85em;
}

.numberInput input {
  width: 60px;
}

.inputGroup {
  padding: 10px 0;
}

.inputRow > :not(:last-child) {
  margin-right:15px;
}