html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

textarea:invalid {
  background: #faa;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  color: #eef;
}

h2 {
  font-size: 1em;
  text-align: center;
}

main {
  display: flex;
  height: 100%;
}

#plotContainer {
  overflow:hidden;
  outline: none;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

#plot {
  flex: 1 0 0;
} 

#surfaceParameters {
  flex: 0 0 300px;
  overflow: auto;
  color: #fff;
  background: #333;
  padding: 5px;
  /*width: 275px;*/
}

.equationInput {
  display: flex;
  margin: 15px 0;
}

.equationInput var {
  flex: 0 0 auto;
}

.equationInput textarea {
  flex: 1 0 150px;
  margin-left: 5px;
  resize: vertical;
  height: 1.6em;
  font-family: monospace;
  font-size: 0.85em;
}

.inputGroup:not(:first-of-type) {
  margin-top: 40px;
}

.inputRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputRow > * {
  margin: 5px 10px;
}
.inputRow > :first-child {
  margin-left: 0px;
}
.inputRow > :last-child {
  margin-right: 0px;
}

.inputRow input {
  margin-left: 10px;
}

.numberInput input {
  width: 60px;
}