html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

textarea:invalid {
  background: #faa;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  color: #eef;
}

h2 {
  font-size: 1em;
  text-align: center;
}

label {
  display: inline-block;
  padding: 5px 4px;
}

label > * {
  margin: 0 3px;
  vertical-align: middle;
}

main {
  display: flex;
  height: 100%;
}

@media (max-aspect-ratio: 1/1) {
  main {
    flex-direction: column;
  }
}

#plot {
  overflow: hidden;
  outline: none;
  flex: 1 0 0;
}

#controls {
  flex: 0 0 310px;
  overflow: auto;
  color: #fff;
  background: #333;
}

.equationInput {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.equationInput var {
  flex: 0 0 auto;
}

.equationInput textarea {
  flex: 1 0 150px;
  resize: vertical;
  height: 1.6em;
  font-family: monospace;
  font-size: 0.85em;
}

.inputGroup:not(:first-of-type) {
  margin-top: 40px;
}

.inputRow {
  text-align: center;
}

.numberInput input {
  width: 60px;
}